*, *:before, *:after {
	box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

body {
	color: #3b3b3b;
	background: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
}

a {
	color: #3b3b3b;
}

.wrapper {
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
}

/*====================================================================*/

.slider {
	width: 100%;
	overflow: hidden;
}

.slide-wrapper {
	font-size: 0; /*fix spacing caused by empty nodes*/
	list-style: none;
	margin: 0;
	padding: 0;

    /*Enable hardware acceleration, can be safely removed*/
	-webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

	-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;

    /*Actual animation*/
	transition: -moz-transform 0.3s linear,
				-ms-transform 0.3s linear, 
				-o-transform 0.3s linear,
				transform 0.3s linear;
	-webkit-transition: -webkit-transform 0.3s linear;
}

.slide-wrapper li {
	padding: 0;
	display: inline-block;
}

.slide {
	padding: 0;
	display: inline-table;
	vertical-align: top;
	width: 100%;
}

.slide .slideinner {
	font-size: 1rem;
}

.slidedot-active {
	color: red;
}